* {
	box-sizing: border-box;
	font-family: sans-serif;
}

html{
	padding: 10px;
}

h2.header{
	margin: 3px 0;
}

/* Figure && children */
figure{
	margin: 20px 5px;
}

figure h2{
	text-align: center;
}

figure ul li{
  border: 1px solid rgb(200,200,200);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

figure#hope ul, figure#gap ul {
	padding-left: 0;
}

figure#hope ul li, figure#gap ul li{
	list-style-type: none;
}

figure#hope ul li{
	text-align: left;
}

figure#gap ul li{
	text-align: right;
}

p{
	margin: 0;
}

ul{
	padding-left: 15px;
  margin-top: 10px;
}

a{
	color: inherit;
	text-decoration: none;
}